@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;

  overflow: hidden;

  font-family: "Outfit";

  user-select: none;

  position: relative;

  opacity: 0;
  /* display: none; */
}

.multichar__selection {
  transform: translateX(-100%);
}
.character__registration {
  transform: translateX(100%);
}

.character__registration.active, .multichar__selection.active {
  transform: translateX(0);
}

.input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
  scale: var(--scale);
}

@media screen and (min-width: 2600px) {
    .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
        --scale: 0.8
    }
}

@media screen and (min-width: 2200px) {
    .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
        --scale: 0.8
    }
}


@media screen and (max-width: 1900px) {
  .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
      --scale: 1
  }
}

@media screen and (max-width: 1700px) {
  .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
      --scale: .9
  }
}

@media screen and (max-width: 1500px) {
  .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
      --scale: .8
  }
}

@media screen and (max-width: 1300px) {
  .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
      --scale: .7
  }
}

@media screen and (max-width: 1000px) {
  .input__groups, .character__registration .bottom, .character__registration .genders, .character__select, .character__buttons, .character__info {
      --scale: .6
  }
}

/* body::after {
  content: '';
  display: block;
  position: absolute;
  inset: 20px;
  
  background: url(./svgs/border.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.border {
  position: absolute;
  inset: 20px;

  background-image: url(./border.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  pointer-events: none;
}

body::before {
  content: '';
  display: block;
  position: absolute;

  inset: 0;
  z-index: 2;

  background-image: url(./glow.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  pointer-events: none;
}

body::after {
  content: '';
  display: block;
  position: absolute;
  
  inset: 0;
  z-index: 2;

  background-image: url(./glow_2.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  pointer-events: none;
}

.shadow {
  position: absolute;

  inset: 0;
  /* z-index: 2; */

  background-image: url(./shadow.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  pointer-events: none;
}

/* body::after {
  content: "";
  display: block;
  position: absolute;
  inset: 1.0416666vw;
  border-radius: 1.0416666vw;
  border: 2px solid rgba(255, 255, 255, 0.4);

  pointer-events: none;
} */

.multichar__selection {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.character__indicator {
  transform: translateX(120%);
  opacity: 0;
}

.character__indicator.active {
  transform: translateX(0);
  opacity: 1;
}

.character__info.active {
  transform: translateX(0);
  opacity: 1;
}

.character__info {
  opacity: 0;
  transform: translateX(-120%);
  
  transform-origin: left center;

  position: absolute;
  left: 68px;
  top: 68px;
  width: 452px;
  height: 944px;
  background: rgba(178, 255, 250, 0.04);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 25px;

  background-image: url(./svgs/character_info_gradient.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  padding-inline: 50px;
  padding-block: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.character__trait {
  display: flex;
  gap: 24px;
  align-items: center;
}

.character__trait .icon::before {
  content: "";
  display: block;
  position: absolute;
  inset: -10px;

  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

.character__trait .icon {
  /* background: attr(data-svg); */
  position: relative;
  width: 64px;
  height: 64px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 100%;
}

.icon.coin {
  background-image: url(./svgs/coins.svg);
}

.labels .label {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.65);
}

.labels .value {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
}

.currency {
  width: 24px;
  height: 24px;
  background-image: url(./svgs/currency.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon.bank__card {
  background-image: url(./svgs/bank_card.svg);
}

.icon.phone {
  background-image: url(./svgs/phone.svg);
}

.icon.gender__male {
  background-image: url(./svgs/gender_male.svg);
}

.icon.job {
  background-image: url(./svgs/job.svg);
}

.icon.nationality {
  background-image: url(./svgs/nationality.svg);
}

.icon.birth_date {
  background-image: url(./svgs/birth_date.svg);
}

.icon.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.icon.new {
  background: rgba(255, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  color: #fff;
}

.icon {
  background-repeat: no-repeat !important;
  background-position: center !important;
}

span.currency {
  margin-left: 13px;
}

.characters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.character__buttons {
  right: 68px;
  top: 325px;
  position: absolute;
}

.character__button {
  /* font-size: ; */
  width: 452px;
  height: 130px;

  background: radial-gradient(100.22% 166.86% at 96.68% 100%, rgba(255, 255, 255, 0.25) 0.81%, rgba(255, 255, 255, 0.0775) 54.08%, rgba(172, 52, 52, 0) 100%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 18px;

  display: flex;
  justify-content: flex-end;

  align-items: center;
  gap: 32px;

  cursor: pointer;
}

.character__button.active {
  background: radial-gradient(100.22% 166.86% at 96.68% 100%, rgba(0, 217, 178, 0.65) 0.81%, rgba(0, 217, 178, 0.2015) 54.08%, rgba(0, 217, 178, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(65, 204, 177, 0.25);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  position: relative;
}

.character__button.active::after {
  content: "";
  display: block;
  position: absolute;

  left: 12.5%;
  right: 12.5%;
  bottom: 0;

  height: 0.15625vw;

  background: #41ccb1;
  border-radius: 0.416666vw 0 0 0.416666vw;
}

.character__button.disabled {
  background: radial-gradient(100.22% 166.86% at 96.68% 100%, rgba(172, 52, 52, 0.45) 0.81%, rgba(172, 52, 52, 0.1395) 54.08%, rgba(172, 52, 52, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(172, 52, 52, 0.1);
  border: 1px solid rgba(172, 52, 52, 0.45);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 18px;

  position: relative;
  cursor: auto;
}

.character__button.disabled::before {
  /* content: "lock"; */

  font-family: "Material Icons";

  content: '\e897';

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fff;
  left: -20px;
  position: absolute;

}

.character__button .label .identifier {
  font-weight: 600;
  font-size: 1.0416666vw;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
}

.character__button .label .name {
  font-size: 24px;

  text-align: right;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
}

.character__button .icon {
  width: 36px;
  height: 36px;
  margin-right: 51px;
}

.character__button.empty {
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  background: transparent;
  cursor: auto;
}

.character__indicator {
  position: absolute;

  right: 68px;
  top: 99px;

  width: 793px;
  height: 102.5px;

  background-image: url(./svgs/indicator.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transform-origin: right center;

  font-style: normal;
  font-size: 44px;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 0 0 3.125vw rgba(255, 255, 255, 0.45);

  /* display: flex;
  justify-content: flex-end;
  align-items: center; */

  transition: opacity ease-in-out 150ms;
}

#character__indicator__name {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#character__indicator__name strong {
  margin-right: 14px;
}


.character__select .select__button {
  border-radius: 100%;

  position: absolute;
  right: 37px;
  top: 40px;


  width: 150px;
  height: 150px;
  padding: 35px;
  background: rgba(65, 204, 177, 0.15);
  background-image: url(./svgs/play_button.svg);
  outline: 4px solid rgba(65, 204, 177, 0.15);
  outline-offset: 10px;
}

.select__label {
  outline: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;

  letter-spacing: 0.05em;
}

.character__select {
  position: absolute;
  right: 60px;
  /* bottom: 0px; */
  cursor: pointer;
  bottom: 40px;
  /* top: 42px; */
  height: 230px;
  transform-origin: right;
}

.character__select .labels {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: -65%;

  font-size: 24px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
}

.character__registration {
  position: absolute;
  inset: 0;
  /* left: 120px;
  top: 120px; */
}

.character__registration .header {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-align: left;
  gap: 50px;

  left: 120px;
  top: 120px;
  position: absolute;
}

.character__registration .header .icon {
  width: 2.60416666vw;
  height: 2.60416666vw;
  color: #fff;

  font-size: 2.60416666vw;

  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
}

.character__registration .labels {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: #fff;

  font-family: 'Outfit';
  font-size: normal;
  font-weight: 700;
  font-size: 2.2916666vw;
  letter-spacing: 0.24em;

  color: #FFFFFF;

  text-shadow: 0 0 0.416666vw 0.416666vw rgba(255, 255, 255, 0.45);
}

.character__select .labels .bottom,
.character__registration .labels .bottom {
  color: #fff;
  font-size: 1.66666vw;
  font-weight: 700;

  letter-spacing: 0.12em;

  color: rgba(255, 255, 255, 0.65);
}


.glow {
  position: absolute;
  width: 120.40vw;
  height: 1892.3.90625vw;
  left: 0;

  background: radial-gradient(61.38% 54.97% at 50% 47.08%,
      rgba(0, 217, 178, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  transform: matrix(-0.99, -0.16, -0.16, 0.99, 0, 0);
}

.select__menu {
  width: 400px;
  height: 100px;
  margin-top: 32px;

  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.15);
  border-radius: 18px;

  position: relative;
}

.select__menu.active {
  background: rgba(0, 217, 178, 0.25);
  border: 1px solid rgba(0, 217, 178, 0.65);
  box-shadow: 0 0 7.1354166vw rgba(0, 0, 0, 0.45), inset 0 0 1.30208333vw rgba(0, 0, 0, 0.09);
}

.select__menu.active .select__options {
  z-index: 999;
}

.select__menu::before {
  content: "Nationality";
  display: block;
  position: absolute;

  background: #FFFFFF;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
  padding: 0.625vw 0.78125vw;
  top: -30%;
  left: 1.30208333vw;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.0416666vw;
  letter-spacing: 0.05em;

  text-transform: uppercase;
}

.select__group {
  display: flex;
  margin-inline: 2.2916666vw 1.4583333vw;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  font-size: 1.1458333vw;
  letter-spacing: 0.05em;
}

.select__menu .select__button {
  cursor: pointer;
  width: 2.2916666vw;
  height: 2.2916666vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
}

.select__menu .select__button>span {
  font-size: 2.0833333vw;
  color: rgba(255, 255, 255, 0.65);
  transition: transform ease-in-out 150ms;
}

.select__menu.active .select__button {
  background: #fff;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
}

.select__menu.active .select__button>span {
  transform: scaleY(1) rotate(90deg);
  color: #000;
}

.select__option {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1458333vw;
  height: 100%;
}

.select__options {
  visibility: hidden;
  opacity: 0.0;
  width: 18.229166666vw;
  position: absolute;
  right: -85%;
  top: 50%;
  transform: translateY(-50%) scale(0);

  transition: all 100ms ease-in-out;
}

.select__menu.active .select__options {
  opacity: 1.0;
  visibility: visible;
  display: block;
  transform-origin: left;
  transform: translateY(-50%) scale(1);
}

.select__option {
  cursor: pointer;
  width: 350px;
  height: 76px;
  
  background: radial-gradient(151% 176.92% at 138.43% 141%, rgba(0, 217, 178, 0.45) 0.81%, rgba(0, 217, 178, 0.1395) 54.08%, rgba(0, 217, 178, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #0B7C6B;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding-inline: 40px;
}

.select__menu:not(.active):hover,
.date__picker:not(.active):hover {
  background: radial-gradient(92.31% 91.5% at 96.68% 100%, rgba(255, 255, 255, 0.1) 0.81%, rgba(255, 255, 255, 0.031) 54.08%, rgba(172, 52, 52, 0) 100%, rgba(255, 255, 255, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
}

.select__menu:not(.active):hover .select__button,
.date__picker:not(.active):hover .date__button {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
}

.select__option.selected::before {
  content: '';
  display: block;
  width: 0.416666vw;
  height: 24px;
  position: absolute;

  top: 50%;
  transform: translateY(-50%) scaleX(-1);
  left: -0.416666vw;

  background: #0B8170;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0 0.416666vw 0.416666vw 0;
}

.select__option:nth-child(1) {
  margin-bottom: -0.2083333vw;
}

.select__option:nth-child(5) {
  margin-top: -0.2083333vw;
}

.select__option:nth-child(1),
.select__option:nth-child(5) {
  margin-inline: auto;
  transform: scale(0.9);
  background: radial-gradient(151% 176.92% at 138.43% 141%, rgba(0, 217, 178, 0.15) 0.81%, rgba(0, 217, 178, 0.0465) 54.08%, rgba(0, 217, 178, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #132623;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
}

.select__option:nth-child(2),
.select__option:nth-child(4) {
  transform: scale(0.95);
  margin-inline: auto;
  background: radial-gradient(151% 176.92% at 138.43% 141%, rgba(0, 217, 178, 0.45) 0.81%, rgba(0, 217, 178, 0.1395) 54.08%, rgba(0, 217, 178, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #103731;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
}

.select__option:nth-child(1),
.select__option:nth-child(2) {
  border-radius: 10px 10px 0px 0px;
  transform-origin: bottom;
}

.select__option:nth-child(4),
.select__option:nth-child(5) {
  border-radius: 0px 0px 10px 10px;
  transform-origin: top;
}


.input__text {
  width: 20.83333vw;
  height: 5.208333vw;

  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 18px;
  padding-inline: 2.34375vw;
  padding-block: 1.875vw;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1458333vw;

  outline: 0;

  color: #FFFFFF;
}

.input__text__group {
  margin-top: 32px;
  position: relative;
}

.input__text__group span {
  position: absolute;
  display: block;
  text-transform: uppercase;
  width: 6.77083333vw;
  height: 2.34375vw;

  background: #FFFFFF;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
  padding-block: 0.625vw;
  padding-inline: 0.78125vw;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  top: -30%;
  left: 1.30208333vw;
}

.input__groups {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  top: 265px;
  left: 120px;

  gap: 40px;

  /* width: 43.75vw;
  gap: 2.0833333vw; */
}


.date__picker {
  margin-top: 32px;
  /* width: 20.83333vw;
  height: 5.208333vw; */
  /* left: 560px; */
  /* top: 467px; */

  
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 18px;

  display: flex;
  align-items: center;
  position: relative;

  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-between;
}

.date__picker.active {
  background: rgba(0, 217, 178, 0.25);
  border: 1px solid rgba(0, 217, 178, 0.65);
  box-shadow: 0 0 7.1354166vw rgba(0, 0, 0, 0.45), inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
}

.date__picker::before {
  content: attr(data-label);
  background: #FFFFFF;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
  text-transform: uppercase;
  position: absolute;
  top: -40%;
  left: 8%;
  padding: 1em;

  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  /* line-height: 1.0416666vw; */
}

.date__picker::after {
  content: attr(data-date);
  font-style: normal;
  font-weight: 600;
  font-size: 1.1458333vw;
  margin-left: 1.666666vw;

  align-items: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;

}

.date__picker .date__button {
  /* width: calc(2rem + 0.3125vw); */
  width: 44px;
  height: 44px;

  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
  margin-right: 2rem;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.date__picker .date__button span {
  font-size: 2.0833333vw;
  color: rgba(255, 255, 255, 0.65);
  transition: transform ease-in-out 150ms;
}

.date__picker.active .date__button {
  background: #fff;
}

.date__picker.active .date__button span {
  /* transform: scaleY(1); */
  /* background: #FFFFFF; */

  color: #000;
  transform: rotate(180deg);

  /* background-image: url(./svg/date_arrow.svg); */
  /* background-repeat: no-repeat; */
  /* background-size: 40%; */
  /* background-position: center center; */
}

.date__picker.active .date__options {
  visibility: visible;
  transform: scaleY(1.0);
}
.date__picker .date__options {
  visibility: hidden;
  transform: scaleY(0.0);

  transform-origin: top;
  /* opacity: 0; */
  transition: all ease-in-out 150ms;
  position: absolute;
  left: 16px;
  right: 16px;
  top: calc(100% + 1px);
  
  padding: 32px;

  background: radial-gradient(62.86% 61.64% at 2.79% -7.47%, rgba(0, 217, 178, 0.15) 0.81%, rgba(0, 217, 178, 0.0465) 54.08%, rgba(0, 217, 178, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #132623;
  box-shadow: 0px 0px 137px rgba(0, 0, 0, 0.45), inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 0px 0px 16px 16px;

  z-index: 2;

  border: 2px solid;

  border-image-source: radial-gradient(59.05% 59.05% at 5.85% -2.87%, rgba(0, 164, 134, 0.65) 0%, rgba(0, 164, 134, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;  

  /* border: 2px solid #fff; */
  border-top: 0;

  /* background-image: url(./date_picker.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat; */
  /* account for border
  /* display: none; */
}

/* .date__picker .date__options > * {
  visibility: hidden;
}
.date__picker.active::after {
  visibility: visible;
} */


.date__options .options {
  margin-bottom: 20px;

  width: 100%;
  display: grid;

  gap: 0.3125vw;
  grid-template-columns: repeat(7, 1fr);

}

.date__options .options .day {
  /* width: 2.0833333vw; */
  aspect-ratio: 1;
  background: #0D3C35;
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.date__options .options .day.disabled {
  background: rgba(13, 60, 53, 0.25);
  border: 1px solid #0C4D43;
}

.date__options .options .day.active {
  background: radial-gradient(151% 176.92% at 138.43% 141%, rgba(0, 217, 178, 0.45) 0.81%, rgba(0, 217, 178, 0.1395) 54.08%, rgba(0, 217, 178, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , #156458;
}

.date__options .options .day.active::before {
  color: #fff;
}

.date__options .options .day::before {
  /* color: #fff; */
  content: attr(data-day);
  color: rgba(255, 255, 255, 0.45);
  /* color: #FFFFFF; */
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 29px;
}

.select__month {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  width: 9.375vw;
  justify-content: space-between;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}

.select__month .month__button {
  flex-shrink: 0;
  display: flex;

  justify-content: center;
  align-items: center;


  width: 1.7708333vw;
  aspect-ratio: 1;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 1.1458333vw;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */

  /* background-repeat: no-repeat;
  background-size: 20%;
  background-position: center; */
  cursor: pointer;
}

.select__month .month__button:first-child {
  transform: rotate(90deg);
  margin-right: 18px;
}

.select__month .month__button:last-child {
  transform: rotate(-90deg);
  margin-left: 18px;
}

.date__options .filter .select__year {
  width: 5.7291666vw;
  height: 2.2916666vw;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 0.52083333vw;

  align-items: center;
  justify-content: center;
  gap: 0.3125vw;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.select__year {
  display: flex;
}

.year__button {
  display: block;
  width: 1.1458333vw;
  height: 1.1458333vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.35;
  cursor: pointer;
}

#year__label {
  text-align: center;
  border: 0;
  outline: 0;
  background: 0;
  color: #fff;
  font-size: 20px;
  width: 50px;
}

#year__label::-webkit-outer-spin-button,
#year__label::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#year__label[type=number] {
  -moz-appearance: textfield;
}

.year__button:hover {
  opacity: 1;
}

.character__registration>.bottom {
  display: flex;
  /* gap: 0.52083333vw; */
  /* width: fit-content; */
  /* bottom: 5.72916666vw; */

  gap: 10px;

  position: absolute;

  left: 120px;
  bottom: 120px;
}

.go__back__btn {
  width: 13.54166666vw;
  height: 5.208333vw;
  background: rgba(178, 255, 250, 0.02);
  border: 1px solid rgba(178, 255, 250, 0.15);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 18px;

  font-weight: 600;
  font-size: 1.1458333vw;

  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 1.1458333vw;

  display: flex;
  align-items: center;
  letter-spacing: 0.15em;

  gap: 0.52083333vw;

  color: #FFFFFF;

  cursor: pointer;
}

.go__back__btn:hover {
  background: radial-gradient(86.73% 106.46% at 102.21% 88.85%, rgba(255, 255, 255, 0.1) 0.81%, rgba(255, 255, 255, 0.031) 54.08%, rgba(255, 255, 255, 0) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    , rgba(178, 255, 250, 0.03);
  border: 1px solid rgba(242, 255, 254, 0.25);
}

.confirm__btn {
  width: 18.229166666vw;
  height: 5.208333vw;

  background: rgba(0, 217, 178, 0.15);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
  border-radius: 18px;

  font-weight: 600;
  font-size: 1.1458333vw;

  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  letter-spacing: 0.15em;

  color: #FFFFFF;
  cursor: pointer;

}

.confirm__btn:hover {
  background: radial-gradient(102.25% 113.32% at 96.68% 100%, rgba(0, 217, 178, 0.65) 0.81%, rgba(0, 217, 178, 0.2015) 54.08%, rgba(0, 217, 178, 0) 100%), rgba(0, 217, 178, 0.15);
  box-shadow: inset 0 0 1.30208333vw rgba(0, 0, 0, 0.03);
}

.genders {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 50px;

  position: absolute;
  right: 120px;
  top: 50%;
  transform: translateY(-50%);
}

.genders>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.genders .label {
  width: 100px;
  height: 44px;
  width: fit-content;


  background: #FFFFFF;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #000;

  padding-inline: 27px;

}

.male,
.female {
  display: flex;
  flex-direction: column;
}

.gender__symbol {
  width: 116px;
  height: 116px;

  background: linear-gradient(0deg, rgba(65, 204, 177, 0.15), rgba(65, 204, 177, 0.15)), rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2555px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.gender__symbol::before {
  content: '';
  display: block;

  width: 84px;
  height: 84px;

  background: linear-gradient(0deg, rgba(65, 204, 177, 0.25), rgba(65, 204, 177, 0.25)), rgba(0, 0, 0, 0.05);
  border-radius: 133.0729vw;
}

.genders .gender__symbol.male:not(.active):hover:before {
  background: linear-gradient(0deg, rgba(65, 204, 177, 0.45), rgba(65, 204, 177, 0.45)), rgba(0, 0, 0, 0.05) !important;
}

.genders .gender__symbol:not(.active):hover:after {
  opacity: 0.75;
}

.genders .gender__symbol.female:not(.active):hover:before {
  background: linear-gradient(0deg, rgba(211, 77, 174, 0.45), rgba(211, 77, 174, 0.45)), rgba(0, 0, 0, 0.05);
}

.genders .active.gender__symbol.male::before {
  content: '';
  display: block;

  width: 84px;
  height: 84px;

  background: linear-gradient(0deg, rgba(65, 204, 177, 0.75), rgba(65, 204, 177, 0.75)), rgba(0, 0, 0, 0.05);
  border-radius: 133.0729vw;
}

.genders .active.gender__symbol.female {
  background: linear-gradient(0deg, rgba(211, 77, 174, 0.35), rgba(211, 77, 174, 0.35)), rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0.52083333vw rgba(0, 0, 0, 0.1);
  border-radius: 133.0729vw;
}

.genders .active.gender__symbol.female::after {
  opacity: 1;
}

.genders .active.gender__symbol.female::before {
  content: '';
  display: block;

  width: 84px;
  height: 84px;

  background: linear-gradient(0deg, rgba(211, 77, 174, 0.75), rgba(211, 77, 174, 0.75)), rgba(0, 0, 0, 0.05);
  border-radius: 133.0729vw;
}

.genders .gender__symbol.male.active::after,
.genders .gender__symbol.female.active::after {
  opacity: 1.0;
}

.gender__symbol.male::after {
  font-family: "Material Icons";
  content: '\e58e';

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;

  color: #fff;

  width: 84px;
  height: 84px;
  position: absolute;

  /* background-size: calc((100% - 1.875vw)); */
  opacity: 0.3;
}

.gender__symbol.female {
  background: linear-gradient(0deg, rgba(211, 77, 174, 0.15), rgba(211, 77, 174, 0.15)), rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0.52083333vw rgba(0, 0, 0, 0.1);
  border-radius: 133.0729vw;
}

.gender__symbol.female::before {
  background: linear-gradient(0deg, rgba(211, 77, 174, 0.25), rgba(211, 77, 174, 0.25)), rgba(0, 0, 0, 0.05);
  border-radius: 133.0729vw;
}

.gender__symbol.female::after {
  font-family: "Material Icons";
  content: '\e590';

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 50px;

  width: 84px;
  height: 84px;
  position: absolute;
  opacity: 0.3;

  /* background-image: url('./svgs/gender_female.svg'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */

  /* background-size: calc((100% - 1.875vw)); */
}